<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if current_user %>
  <%= content_tag(:h3, current_user.email) %>
  <%= button_to "Start A New Game!", new_game_path %>
  <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>
<%= turbo_frame_tag "room_code" do %>
  <%= render partial: "pages/room_code", locals: {room: nil} %>
<% end %>
<%= simple_form_for(:room, url: play_path(slug: "")) do |f| %>
  <%= f.input :slug, placeholder: "ENTER 4-LETTER CODE", name: "slug" %>
  <%= f.input :player_name, placeholder: "ENTER YOUR NAME", input_html: {maxlength: 12} %>
  <%= f.button :submit, "PLAY", class: "btn btn-secondary" %>
<% end %>
